{% extends "base.html.twig" %}

{% block body %}
<body id="page-top">
  <!-- Masthead -->
  <header class="masthead" id="login">
    <div class="container h-100 left-align">
      <div class="row h-100">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase font-weight-bold">Update your password</h1>
        </div>
        <div class="col-lg-8 align-self-baseline" style="margin-top:20px">
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ path ('app_account') }}">MY ACCOUNT</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Tricks Section -->
  <section class="page-section" id="trick">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-5 mb-5">
            <div class="row  justify-content-md-center">
                <div class="col-8 ">
                    {{ form_start(form) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.confirmPassword) }}
                        <button type="submit" class="btn btn-primary">UPDATE</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
{% endblock %}